<div flex layout="row" layout-padding layout-align="center center"  ng-cloak>
  <div md-whiteframe="1" layout-margin layout-padding>
    <fieldset class="fieldset-standard">
      <legend md-colors="{color:'primary'}">Backup List</legend>
      <md-button ng-click="saveList();" class="md-raised md-primary">Save Backup</md-button>
      <md-checkbox md-no-ink ng-model="prettyJson" class="md-primary">Pretty Print</md-checkbox>
    </fieldset>
  </div>
  <div md-whiteframe="1" layout-margin layout-padding>
    <fieldset class="fieldset-standard">
      <legend md-colors="{color:'primary'}">Upload New List</legend>
      <md-button ng-click="uploadList();" class="md-raised md-primary" ng-disabled="!uploadEnabled">Upload</md-button>
      <input type="file" id="upload-list" file-select />
    </fieldset>
  </div>
</div>
<info-console></info-console>
<div flex class="">
  <div id="grid1" ui-grid="gridOptions" class="admin-master-list-grid"></div>
</div>
