/* app css stylesheet */

.version
{
  text-align: right;
}

.logged-in-user
{
  -webkit-margin-before:2px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 6px;
  -webkit-margin-end: 0px;
  margin 2px 6px 0px 0px;
}

.logout-button {
  padding: 0 6px 0 4px;
  margin: 6px 2px 6px 2px;
  min-width: 44px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}

.nav-bar {
  height: 92vh;
}

.side-nav {
  width : 325px;
}

.project-list {
  overflow-y: scroll;
}

.logo {
  display: block;
  width: 100%;
  height: auto;
}

.login-box{
  min-height: 30%;
  width: 500px;
  margin-top: 5%;
}

.fieldset-standard{
  border-style: solid;
  border-width: 1px;
}
