/* app css stylesheet */

.version
{
  text-align: right;
}

.logged-in-user
{
  -webkit-margin-before:2px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 6px;
  -webkit-margin-end: 0px;
  margin 2px 6px 0px 0px;
}

.logout-button {
  padding: 0 6px 0 4px;
  margin: 6px 2px 6px 2px;
  min-width: 44px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}

.nav-bar {
  height: 92vh;
}

.side-nav {
  width : 250px;
}

.project-list {
  overflow-y: scroll;
}

.logo {
  display: block;
  width: 100%;
  height: auto;
}

.login-box{
  min-height: 30%;
  width: 500px;
  margin-top: 5%;
}

.fieldset-standard{
  border-style: solid;
  border-width: 1px;
}

.console-row {
  list-style: none
}
.console-row pre{
  margin:0;
  padding:0;
}

.console-container{
  max-height:100px;
}

.admin-master-list-grid {
  height: 550px;
}

.form-label {
    bottom: 5px;
    left: 12px;
    font-size: 16px;
    opacity: 0.54;
}

.manage-projects-container {
  height: 80%;
}

.project-list-button {
  width:95%;
}

.project-list-button h3,p {
  margin:0px;
  padding:0px;
}

.animate-project-list {
  max-height: 60px;
  min-height: 48px;
}

.animate-project-list.ng-move,
.animate-project-list.ng-enter,
.animate-project-list.ng-leave {
  transition:max-height ease-in 0.5s, min-height ease-in 0.5s, opacity 0.15s ease-in 0.35s;
}

.animate-project-list.ng-leave.ng-leave-active,
.animate-project-list.ng-move,
.animate-project-list.ng-enter {
  opacity:0;
  max-height: 0px;
  min-height: 0px;
}

.animate-project-list.ng-leave,
.animate-project-list.ng-move.ng-move-active,
.animate-project-list.ng-enter.ng-enter-active {
  opacity:1;
  max-height: 60px;
  min-height: 48px;
}
