<div class="nav-bar" layout="column" md-colors="::{background: 'default-accent-100'}">
  <md-toolbar flex="5" class="md-accent">
    <p class="logged-in-user md-caption">{{user.displayName}}</p>
    <p class="md-caption logged-in-user">{{user.email}}</p>
    <md-button md-whiteframe="1" ng-click="LogOut()">Log Out</md-button>
  </md-toolbar>

  <md-toolbar flex="10" layout-align="" class="md-accent">
    <md-button md-whiteframe="1" ng-click="">
      <h3>Project Admin</h3>
    </md-button>
  </md-toolbar>

  <md-toolbar flex="25" layout="column" class="md-accent">
    <h1 class="md-title">Projects</h1>
    <md-input-container class="md-block">
      <label>Sort By</label>
      <md-select ng-model="orderProp">
        <md-option value="name">Name</md-option>
        <md-option value="age">Age</md-option>
      </md-select>
    </md-input-container>
    <md-input-container class="md-block">
      <label>Search</label>
      <input type="text" ng-model="$ctrl.query">
    </md-input-container>
  </md-toolbar>

  <div flex class="project-list">
    <md-list class="md-dense">
      <md-list-item ng-repeat="project in projects | filter:$ctrl.query | orderBy:orderProp">
        <md-button flex class="md-primary" ng-href="#!/project/{{project.id}}">
          <h3>{{project.name}}</h3>
          <p>{{project.customer}}</p>
        </md-button>
      </md-list-item>
    </md-list>
  </div>
</div>
